.calendar{
  margin-bottom: rem(80);
  &__container{
    display: flex;
    position: relative;
    height: 440px;
  }
  &__background{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    img{
      object-fit: cover;
      width: 100%;
      max-width: 100%;
    }
  }
  &__table{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: rem(300);
    text-align: center;
    margin-left: rem(87);
  }
  &__title{
    padding-bottom: rem(20);
    border-bottom: 2px dashed #FFFFFF;
    font-family: 'AGBengaly';
    font-size: 45px;
    line-height: 100%;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 24px;
  }
}