.header{
  &__container{
    display: flex;
    flex-direction: column;

  }
  &__top{
  }
}
.header-top{
  padding: rem(24) 0;
  display: flex;
  align-items: center;
  @include adaptiveValue('gap', 155, 34);
  &__logo{
    @include adaptiveValue("width", 70, 50);
    @include adaptiveValue("height", 70, 50);
  }
  &__img{
    object-fit: contain;
    max-width: 100%;
  }
  &__socials{
    display: flex;
    gap: rem(14);
  }
  &__social{
    transition: 0.3s ease all;
    &:hover{
      transform: scale(1.1);
    }
  }
  &__personal{
    margin-left: auto;
    display: flex;
    gap: rem(10);
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    white-space: nowrap;
  }
  &__login{
    @media (max-width: 480px){
      display: none;
    }
  }
}