.news{
  &__container{
    padding-left: rem(48);
    margin-bottom: rem(11);
  }
  &__title{
    color: $goldColor;
    @include adaptiveValue('font-size', 28, 18);
    line-height: 145%;
    margin-bottom: rem(36);
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(303), 1fr));
    @include adaptiveValue('gap', 48, 24);
    @include adaptiveValue('margin-bottom', 24, 8);
    @media (max-width: 1168px){
      grid-template-columns: repeat(auto-fit, minmax(rem(304), 1fr));
    }
    @media (max-width: 850px){
      grid-template-columns: repeat(auto-fit, minmax(rem(239), 1fr));
    }
  }
  &__more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    font-size: 13px;
    line-height: 18px;
    color: #006CB7;
    &:hover{
      text-decoration: underline;
    }
  }
}
.item{
  position: relative;
  background: #FFFFFF;
  padding: rem(24) rem(24) rem(16) rem(24);
  display: flex;
  flex-direction: column;
  height: rem(543);
  box-shadow: 0px 2px 17px -4px rgba(140, 153, 155, 0.15);
  &:nth-child(4){
    display: none;
  }
  @media (max-width: 1085px){
    &:nth-child(4){
      display: flex;
    }
  }
  &__back{
    position: absolute;
    bottom: -4px;
    height: 4px;
    @include adaptiveValue("left", 23, 16);
    @include adaptiveValue("right", 23, 16);
    background: $goldColor;
  }
  &__b-l{
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    background: $bodyColor;
    transform: translate(-50%, 50%);
    width: 24px;
    height: 24px;
  }
  &__b-r{
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: $bodyColor;
    transform: translate(50%, 50%);
    width: 24px;
    height: 24px;
  }
  &__pad{
    padding: rem(24) rem(16) rem(16) rem(24);
  }
  &__header{
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: rem(16);
    &-create{
      font-size: 12px;
      line-height: 150%;
        color: #8C999B;
    }
    &-tag{
      font-size: 12px;
      line-height: 150%;
      color: #B93337;
      position: relative;
      &:before{
        content: '';
        display: block;
        position: absolute;
        background: $redColor;
        border-radius: 50%;
        top: 50%;
        left: -9px;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
      }
    }
    &-price{
      font-weight: 600;
      font-size: 15px;
      line-height: 150%;
      color: #BC9B62;
    }
  }
  @media (max-width: 850px){
    &:nth-child(3){
      display: none;
    }
    &:nth-child(4){
      display: none;
    }
  }

  &__background {
    position: absolute;
    left: -2px;
    right: 0;
    z-index: -1;
    top: 1.47%;
    height: rem(242);
    background-color: $goldColor;
  }
  &__image{
    display: block;
    margin-left: rem(-48);
    @include adaptiveValue('margin-bottom', 24, 8, 1920, 1080, 1);
    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__image_center{
    display: block;

    @include adaptiveValue('margin-right', -40, -24, 1080, 320, 1);
    @include adaptiveValue('margin-left', -40, -24, 1080, 320, 1);
    @include adaptiveValue('margin-bottom', 24, 8, 1920, 1080, 1);
    img{
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &__title{
    font-weight: 500;
    font-size: rem(17);
    line-height: 140%;
    color: #BC9B62;
    margin-bottom: rem(16);
    &:hover{
      text-decoration: underline;
    }
  }
  &__location{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1A2141;
  }
  &__border{
    width: 100%;
    height: 1px;
    background-color: $goldColor;
    position: relative;
    margin-bottom: 16px;
  }
  &__c-l{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -36px;
    width: 24px;
    height: 24px;
    background: $bodyColor;
    border-radius: 50%;
  }
  &__c-r{
    position: absolute;
    right: -27px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background: $bodyColor;
    border-radius: 50%;
  }
  &__text{
    display: inline-block;
    font-size: 15px;
    line-height: 150%;
    color: #374248;
    flex: 1 1 auto;
    margin-bottom: rem(17);
    position: relative;
    overflow: hidden;
    max-height: rem(154);

  }
  &__text-overflow{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: rem(17);
  background: linear-gradient(180.21deg, rgba(255, 255, 255, 0) -31.72%, #FFFFFF 83.9%);
  }
  &__info{
    border-top: 1px solid #BC9B62;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 150%;
    color: #8C999B;
    margin-top: auto;
  }
}
