@font-face {
	font-family: AGBengaly;
	font-display: swap;
	src: url("../fonts/AGBengaly.woff2") format("woff2"), url("../fonts/AGBengaly.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
