// Заголовки, общие БЄМ блоки и проче...


.page-header{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.page-title{
  font-weight: 400;
  @include adaptiveValue("font-size", 28, 18, 1920, 320, 1);
  line-height: 145%;
  color: #374248;
  &:after{
    content: " . . . .";
  }
}
