// Заголовки, общие БЄМ блоки и проче...


.page-header{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
.page-title{
  font-weight: 400;
  @include adaptiveValue("font-size", 28, 18, 1920, 320, 1);
  line-height: 145%;
  color: #374248;
  &:after{
    content: " . . . .";
  }
}
.page-filter{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  &__item{
    padding: 14px 16px;
    background: white;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 90.7%;
    color: #374248;
    cursor: pointer;
    &_active{
      color: #F7F9FB;
      background: #1A2141;
    }
  }
}
.arrow-right{
  transform: rotate(180deg);
}
.robot{
  display: block;
  margin-bottom: 24px;
}