.contacts{
  margin-bottom: 100px;
  & .buttons__button{
    margin-bottom: 24px;
  }
  & .label__file{
    margin-bottom: 24px;
  }
  &__blocks{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 24px;
        &_twice{
      & .contacts__left{
        flex: 1 1 60%;
      }
      & .contacts__right{
        flex: 1 1 40%;
      }
    }
  }
  &__left{
    flex-basis: 50%;
    @media (max-width: 1280px){
      flex-basis: 60%;
    }
    @media (max-width: 1060px){
      flex-basis: 75%;
    }
    @media (max-width: 660px){
      flex-basis: 100%;
    }
  }
  &__block{
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 24, 16, 1920, 320, 1);
  }
  &__submit{
    width: 50%;
    @media (max-width: 1280px){
      width: 60%;
    }
    @media (max-width: 1060px){
      width: 75%;
    }
    @media (max-width: 660px){
      width: 100%;
    }
  }
  &__require{
    margin-bottom: 24px;
    span{
      color: #EF4523;
    }
  }
}