.forms{
  &__container{
  border: none;
  }
  &__title{
    margin-bottom: 48.5px;
  }
  &__list{
    display: flex;
    gap: 122px;
  }
}
.form{
  width: 579px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}