.icons{
  &__container{
    flex-direction: column;
  }
  &__title{
    color: #1A2141;
    margin-bottom: 52px;
  }
  &__list{
    display: flex;
    gap: 16px;
    align-items: center;
    &:not(:last-child){
      margin-bottom: 63px;
    }
  }
  &__subtitle{
    margin-bottom: 19px;
  }
  &__item{
    &_soc{
      width: 24px;
      height: 24px;
      img{
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}